<div class="image-grid">
    <div class="image-box">
        <img src="assets/img/img1.jpg" alt="Imagen 1">
        <p>Imagen 1</p>
    </div>
    <div class="image-box">
        <img src="assets/img/img2.jpg" alt="Imagen 2">
        <p>Imagen 2</p>
    </div>
    <div class="image-box">
        <img src="assets/img/img3.jpg" alt="Imagen 3">
        <p>Imagen 3</p>
    </div>
    <div class="image-box">
        <img src="assets/img/img4.jpg" alt="Imagen 4">
        <p>Imagen 4</p>
    </div>
    <div class="image-box">
        <img src="assets/img/img5.jpg" alt="Imagen 5">
        <p>Imagen 5</p>
    </div>
</div>
