<div class="home-container">
    <div class="image-grid">
        <div class="image-box">
            <p>Imagen 1</p>
        </div>
        <div class="image-box">
            <p>Imagen 2</p>
        </div>
        <div class="image-box">
            <p>Imagen 3</p>
        </div>
        <div class="image-box">
            <p>Imagen 4</p>
        </div>
        <div class="image-box">
            <p>Imagen 5</p>
        </div>
    </div>

    <div class="description-container">
        <app-description></app-description>
    </div>

    <div class="featured-dishes-container">
        <app-featured-dishes></app-featured-dishes>
    </div>
</div>
