<mat-sidenav-container class="example-container" (backdropClick)="close('backdrop')">
  <mat-sidenav #sidenav position="end" (keydown.escape)="close('escape')" disableClose>
    <div style="display: flex; justify-content: flex-end; padding: 10px;">
      <button mat-icon-button (click)="sidenav.close()">
        <span>X</span>
      </button>
    </div>
    <ul>
      <li class="sidebar-item"><span>Articulo 1 30$</span></li>
      <li class="sidebar-item"><span>Articulo 2 30$</span></li>
      <li class="sidebar-item"><span>Articulo 3 30$</span></li>
      <li class="sidebar-item"><span>Articulo 4 30$</span></li>
      <li class="sidebar-item"><span>Articulo 5 30$</span></li>
    </ul>
    <div class="sidebar-total"><span>Total: 150$</span></div>
  </mat-sidenav>
  

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
